body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
  background-image: url('./../public/assets/anakin.jpg');
  background-position: 50%;
}

.App {
  width: 960px;
  margin: 0 auto;
}

h1 {
  letter-spacing: 3px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ffff57;
  font-size: 5em;
  color: #000000;
}

button {
  margin: 0 10px;
  background: transparent;
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  color: #ccc;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  color: #fff;
  border-color: #fff;
  ;
}

.content {
  text-align: left;
}

.card {
  padding: 8px 16px;
  background: #1b1b1b;
  margin: 16px 0;
  border-radius: 20px;
}

.card p {
  margin: 6px 0;
  color: #999;
}

.card h3 {
  margin: 10px 0;
  color: #ffff57;
}

button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}